body{
	background-color : grey;
	margin: 0;
	box-sizing: border-box;
	display:flex;
	justify-content: flex-start;
	align-items: flex-start;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	

}
.container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1200px;
	flex-direction: column;
	margin: 20px auto;
	padding: 0 20px;

}

.container .buttons{

	width:100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-bottom: 10px;
}	

.container .buttons .btn{
	
	padding: 5px 15px;
	display: inline-flex;
	background-color: grey;
	color: white;
	margin-left: 10px;
	cursor: pointer;
}
.container .buttons .btn:nth-child(2) {
	
	font-size: 1.5em;

}
.container .buttons .btn:nth-child(3) {
	
	font-size: 2em;

}
.container .buttons .btn.active{
	
	background:grey;
}	
.container .content {
	font-size: 1em;
	color: white;	
}
.container .content h2,
.container .content p {
	transition: 0.5s;
}